<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row" id="t_and_p">
      <div class="col-md-12">
        <h4 class="heading">{{mars_page.news_title}}</h4>
        <small>{{mars_page.news_description}}</small>
      </div>
    </div>

    <div class="row" id = "featured_image">
      <div class = "col-md-4">
        <h4 class = "heading">Featured Mars Image</h4>
        <img src="{{mars_page.featured_image}}" alt="Featured Mars Image">
      </div>
      <div class = "col-md-3">

      </div>
      <div class = "col-md-5">
        <h4 class = "heading">Mars Facts</h4>
        <div class = "table">
          {{mars_page.mars_earth_table | safe}}
        </div>
      </div>
    </div>

    <h4 class = heading>Mars Hemisphere</h4>
    <!-- Loop through the dictionary -->
    {% for hemisphere in mars_page['mars_hemispheres'] %}
    <div class = "col-lg-3">
      <div class = "card" style = 'width: 20rem'>
        <div class = "card-body">
          <h4 class = "card-title">{{hemisphere.title}}</h4>
          <img src="{{hemisphere.img_url}}" style = "width: 20rem" alt="Mars Hemisphere">

        </div>

      </div>

    </div>
    {% endfor %}




  </div>
</body>

</html>